.main {
    margin-top: 80px;
}

.error-number {
    font-size: 350px;
    color: rgba(255, 0, 0, 0.274);
    text-align: center;
    display: block;
}
.error-pargraph {
    font-size: 40px;
    text-align: center;
}